html{
    height: 100%;
}

body{
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    
}
header{
    background-color: cornflowerblue;
    text-align: center;
}

.img1{
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.containerImg1{
    display: flex;
    align-items: center;
    margin-left: -180px;
}
.containerText{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    padding: 21px;
    /* margin-left: -100px; */
}
.details{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -400px;
    /* justify-content: center; */
}
p{
    font-weight: bold;
    margin: 0;
}
p span{
    font-weight: 100;
}
.containerHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 80px;
}
.imagen2{
    max-width: 100px;
    display: flex;
}
.containerFooter{
    background: cornflowerblue ;
    height: 61px;
}
.img2Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0
}

a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
a:hover{
    color: red;

}
footer{
    background-color: cornflowerblue;
    margin-top: auto;
    
}
@media(max-width:1030px){
    .details{
        max-width: 400px;
        margin: auto;
        height: 350px;
    }
    .containerImg1{
        margin: auto;
    }
    
}
@media(max-width:735px){
    .containerText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto
    }
    .containerImg1{
        align-self: center;
        margin-bottom: 5px;
    }
    .details{
        align-self: center;
        max-width: 330px;
    }
    .details div{
        margin-bottom: 5px;
    }

}

@media(max-width:400px){
    .containerText{
        flex-direction: column;
        justify-content: center;
    }
    .containerImg1{
        justify-content: center;
    }
    .details{
        width: 250px;
        align-self: center;
        margin-top: 10px;
}.img1{
    max-width: 200px;
    height: 330px;
    border-radius: 10px;
}

}
