body{
    margin: 0;
    background-color: white;
}

.img1{
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
}

.containerImg1{
    display: flex;
    align-items: center;
}
.containerText{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    padding: 21px;
}
.details{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p{
    font-weight: bold;
}
p span{
    font-weight: 100;
}
.containerHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 80px;
}
.imagen2{
    max-width: 100px;
    display: flex;
}
.containerFooter{
    background: cornflowerblue ;
    height: 61px;
}
.img2Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0
}

a{
    text-decoration: none;
    color: black;
    font-weight: 100;
}
a:hover{
    color: red;

}
@media(max-width:950px){
    .details{
        max-width: 300px;
    }
    
}
@media(max-width:720px){
    .containerText{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .containerImg1{
        align-self: center;
    }
    .details{
        align-self: center;
    }

}

@media(max-width:400px){
    .containerText{
        flex-direction: column;
        justify-content: center;
    }
    .containerImg1{
        justify-content: center;
    }
    .details{
        justify-content: center;
        width: 300px;
        align-self: center;
    }
    header{
        max-width: 300px;
        display: flex;
        justify-content: center;
    }
}
